*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: bisque;
}
header{
    font-size: 32px;
    padding: 8px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.content{
    width: 100vw;
    display: flex;
    justify-content: center;
    gap: 128px;
}
.clear{
    font-size: 16px;
    padding: 4px 12px;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}
.toolbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 16px;
    padding: 16px;
    border: 2px solid dimgrey;
    height: 512px;
    width: 128px;
    gap: 16px;
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
}
.grid div{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.grid{
    border-radius: 4px;
    border: 4px solid rgb(209, 11, 11);
    width: 512px;
    height: 512px;
    display: flex;
    flex-wrap: wrap;
}
.random{
    font-size: 16px;
    padding: 4px 12px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;    
}
.random-clicked{
    background-color: rgb(183, 0, 255);
    color: white;
    border: 2px solid black;
    border-radius: 4px;
}
#colorpicker{
    width: 60px;
    height: 60px;
    border: none;
    cursor: pointer;
}